body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 3px 10px gray;
}
nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
    transform: scale(1.1);
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #e8f1ff;
}

.hero h2 {
    font-size: 48px;
    color: #004080;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}

.hero a {
    display: inline-block;
    background: #004080;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.hero a:hover {
    background: #0066cc;
}

/* ===========================
   Mobile Responsive Design
=========================== */


@media (max-width:768px){

    header{
        padding:20px;
        position:relative;
    }

    .navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

    .navbar h1{
    font-size:22px;
    margin:0;
    width:calc(100% - 60px);
    text-align:left;
    line-height:1.3;
}

    .menu-btn{
    display:block;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:white;
    font-size:35px;
    cursor:pointer;
}

    .nav-links{
        display:none;
        flex-direction:column;
        width:100%;
        margin-top:20px;
        text-align:center;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links a{
        padding:15px;
    }

    .hero{
        padding:60px 20px;
    }

    .hero h2{
        font-size:34px;
    }

    .hero p{
        font-size:18px;
    }

    .hero a{
        padding:12px 25px;
    }

}